<template>
    <div>
        <div class="container">
            <div class="intro h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div  class="col-md-6">
                        <h3>Overview pages</h3>
                       <p>Type keywords relative to your project to find the illustrations you need.</p>
                    </div>
                    <div class="col-md-6">
                        <img class="w-100" src="../../public/img/svg/oveview.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    name: 'Overview',
}
</script>

<style scoped>

</style>




