<template>
    <div>
       <div class="container">
           <div class="intro h-100">
               <div class="row h-100 justify-content-center align-items-center">
                   <div class="col-md-6">
                       <h3>product pages</h3>
                       <p>Type keywords relative to your project to find the illustrations you need.</p>
                   </div>
                   <div class="col-md-6">
                       <img class="w-100" src="../../public/img/svg/products1.svg" alt="">
                   </div>
               </div>
           </div>



            <!-- <div class="card">
                <div class="card-header">
                    Add new Product
                </div>
                <div class="card-body">
                    <form @submit.prevent="addProduct()">
                        <div class="form-group">
                            <label for="product_name">Product name</label>
                            <input type="text" v-model="product.name" class="form-control" id="product_name">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" v-model="product.price" class="form-control" id="price">
                        </div> 
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div> -->


            <div class="card">
                <div class="card-header">
                    <h2>Product Lists</h2>
                    <button @click="showAddProductModal()" class="btn btn-sm btn-primary">Add New</button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th scope="col">Si</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product, index) in products" :key="index">
                            <th scope="row">{{ index + 1 }}</th>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>
                                <button @click.prevent="editProduct(product)" class="btn btn-sm btn-primary">Edit</button>
                                <button @click.prevent="deleteProduct(product)" class="btn btn-sm btn-danger">Delete</button>
                            </td>
                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>





<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="product" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ modal || 'Add New Product'  }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class=" col-md-7">
                <div class="form-group">
                    <input type="text" placeholder="Product Name" v-model="product.name" class="form-control" id="product_name">
                </div>
                 <div class="form-group">
                     <vue-editor v-model="product.description"></vue-editor>
                </div>
            </div>
            <div class=" col-md-5 text-left">
                <div class="form-group">
                    <h1>Product Details</h1>
                </div>
                 <div class="form-group">
                     <input v-model="product.price" type="number" class="form-control" placeholder="price">
                </div>
                 <div class="form-group">
                     <input v-model="tag" @keyup.188="addTag()" type="text" class="form-control" placeholder="tag">
                      <span class="mr-1 badge badge-secondary" v-for="(tag, index) in product.tags" :key="index">{{ tag }}</span>
                </div>
                 <div class="form-group">
                     <label for="image">Product Image</label>
                     <input @change="uploadImage" type="file" class="form-control">
                </div>
                <div class="form-group">
                    <div class="p-1" :key="index" v-for="(image, index) in product.images">
                        <div class="image-wraper">
                            <img width="80" height="80" :src="image" alt="">
                            <span @click="deleteImage(image, index)" class="text-danger delete-image">X</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" @click.prevent="modal == null ? addProduct() : updateProduct()" class="btn btn-primary">{{ modal == null ? 'Save' : 'Update' }}</button>
      </div>
    </div>
  </div>
</div>


       </div>
    </div>
</template>


<script>


import {db, firebaseDB} from '../database/firebase'
import { VueEditor } from "vue2-editor";
export default {
    name: 'Products',
    components: {
        VueEditor
    },
    data() {
        return {
            product: {
                name: null,
                description: null,
                price: null,
                tags:[],
                images: []
            },
            products: [],
            modal: null,
            tag: null,
        }
    },
     firestore() {
        return {
            products: firebaseDB.collection('products')
        }
    },
    methods: {
        resetForm(){
            this.product = {
                name: null,
                description: null,
                price: null,
                tags:[],
                images: []
            }
        },
        uploadImage(e)
        {
            let file = e.target.files[0]
            if(!file){
                return;
            }
            // Create a root reference
            var storageRef = db.storage().ref('products/'+file.name);
            var uploadTask = storageRef.put(file);


            uploadTask.on('state_changed',(snapshot) =>{
                },(error) =>{
                // Handle unsuccessful uploads
                },() =>{
                // Handle successful uploads on complete
                // For instance, get the download URL: https://firebasestorage.googleapis.com/...
                uploadTask.snapshot.ref.getDownloadURL().then((downloadURL) =>{
                    this.product.images.push(downloadURL);
                });
            });
        },
        deleteImage(img, index){
            // Create a reference to the file to delete
            let desertRef = db.storage().refFromURL(img)

            // Delete the file
            desertRef.delete().then(() =>{
                this.product.images.splice(index, 1)
            }).catch((error) =>{
                console.log(error);
                
            });
        },
        addTag(){   
            
            this.product.tags.push(this.tag)
            this.tag = null
        },
        showAddProductModal(){
             this.modal = null
             this.resetForm();
            $("#product").modal('show')
        },
        
        addProduct(){
            this.$firestore.products.add(this.product)
            $("#product").modal('hide')
            Toast.fire({
                icon: 'success',
                title: 'Product created success'
            })
        },
        editProduct(product){
            this.product = product;
            this.modal = 'Edit Product'
           $("#product").modal('show')  
        },
        updateProduct(){
            this.$firestore.products.doc(this.product.id).update(this.product)
            $("#product").modal('hide')
            Toast.fire({
                icon: 'success',
                title: 'Product updated success'
            })
        },
        deleteProduct(product){
            Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                
                 product.images.forEach( (item, index) => {
                    this.deleteImage(item, index)
                 })
                 if (result.value) {
                this.$firestore.products.doc(product.id).delete()
                    Toast.fire({
                        icon: 'success',
                        title: 'Product delete success'
                    })
                }
            })
        }
            
    },
    
}
</script>

<style scoped>
.delete-image{
    position:absolute;
    top: -10px;
    left: 75px;
    cursor: pointer;
}
.image-wraper{
    position: relative;
}
</style>




